body{color : black;
     background : #E5C9B4;
     text-align : center;
   
     margin :  10px auto;
     border : 1px solid #7a685a;

     
     }
p{
     margin :  10px auto;
     width :  500px;
     
     position:relative;
     font-size : 15px;
    
     border-bottom : 1px solid #f0d3bc;
     box-shadow: 0px 3px #bdacac;
}

